{% extends 'base1.html' %}
{% block content %}
        <div class='contenedor'>
            <form class="col s12" method="POST">
                <h4>AGREGAR NUEVOS DATOS AL EXPEDIENTE</h4>
                <div class="row">
                    {% csrf_token %}
                    <ul id="tabs-swipe-demo" class="tabs">
                        <li class="tab col s6"><a class="active" href="#test-swipe-1"><h9 class="cyan-text text-darken-3">Información Clínica</h9></a></li>
                        <li class="tab col s6"><a class="cyan-text text-darken-3" href="#test-swipe-2">Referencias</a></li>
                    </ul>
                    <div id="test-swipe-1" class="col s12">
                        <br>
                        <br>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">fitness_center</i>{{form.peso}}
                            <label for="peso">Peso</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">favorite</i>
                            {{form.pulso}}
                            <label for="pulso">Pulso</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">whatshot</i>
                            {{form.temperatura}}
                            <label for="temperatura">Temperatura</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">import_export</i>
                            {{form.presion_arterial}}
                            <label for="presion_arterial">Presión Arterial</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">healing</i>
                        {{form.enfermedades}}
                            <label for="enfermedades">Enfermedades preexistentes</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">bug_report</i>
                            {{form.alergias}}
                            <label for="alergias">Alergias</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">local_hospital</i>
                        {{form.medicamentos}}
                            <label for="medicamentos">Medicamentos</label>
                        </div>
                    </div>
                    <div id="test-swipe-2" class="col s12">
                        <br>
                        <br>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">face</i>
                        {{form.nombre_medico}}
                            <label for="nombre_medico">Nombre del médico principal</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">settings_phone</i>
                            {{form.telefono_medico}}
                            <label for="telefono_medico">Teléfono del médico</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">supervised_user_circle</i>
                            {{form.persona_refiere}}
                            <label for="persona_refiere">Persona que refiere</label>   
                        </div>
                        <div class="col s6">
                            <button class="btn-floating btn-large waves-effect waves-light prefix" type='submit'><i class="material-icons">add</i></button> 
                        </div>
                        
                    </div>
                </div>
                {{form.id_paciente}}
            </form>
        </div>
{% endblock %}