@font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap&family=Quicksand:wght@300;400;500&display=swap');
}

:root {
    --monserrat: 'Montserrat', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #F5F7F7;
}

.menu-superior {
    width: 100%;
    height: 45px;
    background: #fff;
}

.menu-lateral {
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-lateral .logo {
    width: 100%;
    height: auto;
}

.menu-lateral .logo h4 {
    font-family: var(--monserrat);
    font-size: 35px;
    color: rgb(68, 68, 68);
    font-weight: 600;
    text-align: center;
}

.menu-lateral .logo p {
    font-family: var(--monserrat);
    font-size: 10px;
    color: #666666;
    font-weight: 400;
    text-align: center;
}

.menu-lateral .opciones {
    position: relative;
    width: 100%;
    top: 15px;
}

.menu-lateral .logo img {
    position: relative;
    width: 140px;
    margin: 20px 50px;
    fill: #7ED1F2;
}

.menu-lateral .opciones a img {
    width: 24px;
}

.menu-lateral .opciones a {
    text-decoration: none;
    width: 100%;

}

.menu-lateral .opciones a img {
    position: relative;
    width: 20px;
    float: left;
    top: 15px;
    margin-left: 15px;
}

.menu-lateral .opciones a li {
    position: relative;
    list-style: none;
    height: 45px;
    padding: 10px;
    margin-bottom: 18px;
}

.menu-lateral .opciones a li::before {
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: rgb(6, 139, 192);
    transition: all .3s;
}

.menu-lateral .opciones a li:hover::before {
    width: 100%;
    background: rgb(6, 139, 192);
}

.menu-lateral .opciones a li span {
    position: relative;
    top: 10px;
    margin-left: 10px;
    color: rgb(135, 136, 136);
    font-family: var(--quicksand);
    font-size: 15px;
}

.menu-lateral .opciones a .activar {
    background-color: #A7EBF2;
    opacity: 0.5;
    z-index: -1;
}

.menu-lateral .opciones a .activar span {
    z-index: -1;
    color: rgb(6, 139, 192);
    font-weight: bolder;
}

.menu-lateral .opciones a .activar::before {
    content: '';
    position: absolute;
    display: block;
    width: 2%;
    height: 55px;

    background: rgb(0, 134, 187);
    ;
    transition: all .3s;
}

.menu-superior .usuario {
    display: flex;
    justify-content: flex-end;
}

.menu-superior .usuario p {
    position: relative;
    font-family: var(--monserrat);
    top: 15px;
    margin-right: 15px;
    font-size: 10px;
    color: #9A9B9B;
}

.menu-superior .usuario p img {
    width: 20px;
}

.contenedor {
    position: relative;
    width: 70%;
    height: 250px;
    margin: 45px auto;
    left: 100px;
}

.observaciones {
    width: 70% !important;
    height: auto !important;
    background-color: #fff !important;
    overflow: hidden;
}
.signosVitales{
    width: 25% !important;
    height: auto !important;
    background-color: #fff !important;
    border-radius: 25px;
    padding: 15px;
    font-size: 14px;
}
.signosVitales h4{
    font-size: 30px;
}
.signosVitalesDoctor{
    width: 50% !important;
    height: 450px !important;
    background-color: #fff !important;
    border-radius: 25px;
    padding: 25px;
    font-size: 14px;
    overflow: hidden;
}
.signosVitalesDoctor h4{
    font-size: 30px;
}
.signosVitalesCirujano{
    width: 50% !important;
    height: 450px !important;
    background-color: #fff !important;
    border-radius: 25px;
    padding: 25px;
    font-size: 14px;
    overflow: hidden;
}
.signosVitalesCirujano h4{
    font-size: 30px;
}
.card-search {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 50px;
    position: relative;
    margin-bottom: 0;
}
.card-search input{
    border: none !important;
}
.card-search label { 
    font-size: 12px;
} 
.card-form {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: auto;
    position: relative;
}

.card-cita {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 110px;
    position: relative;
    width: 200px;
    margin: 0 1rem 1rem 1rem;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(54, 55, 59);
}
.card-cita h6{
    font-size: 15px;
    font-weight: bold;
}
.contenedor-cita{
    height: 373px;
    overflow: auto;
}
.contenedor-cita::-webkit-scrollbar{
    -webkit-appearance: none;
}
.contenedor-cita::-webkit-scrollbar:vertical {
    display: none;
}

.contenedor-cita::-webkit-scrollbar:horizontal {
    display: none;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}




